$fontSizeTitle: 18px;
$fontSizeLink: 12px;
$fontSizeContent: 13px;
$fontSizeLogo: 14px;

$fontWeightTitle: bold;
$fontWeightLink: 300;

$lineHeight: 23px;

$backgroundColor: white;
$colorTitle : #454545;
$colorLink: #A5A5A5;
$colorContent:  #868686;
$colorBlue: #1C8DDC;